# created by virtualenv automatically
# venv
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# data and models created locally
data/processed/
models/
visuals/

# ignore all raw data by default except the one we ship
data/raw/*
!data/raw/ASRS_DBOnline.csv
.venv/
venv/
.venv/

__pycache__/
*.py[cod]
.DS_Store
